pipeline/pl_More_Dynamic.json
{
	"name": "pl_More_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_CONFIGTABLE",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_INC1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Datetime": {
										"value": "@item().WaterMarkColumnss",
										"type": "Expression"
									},
									"tablename": {
										"value": "@item().TableName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Web1_copy1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-24.centralus.logic.azure.com:443/workflows/1f4bee425dbc4635bce462741a522d60/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YbC-RD4XMvpKgS0AD-ByvCt5iU-E2gDuFq3LbLItl4E",
								"method": "POST",
								"body": {
									"value": "{\n\"PipelineName: \"@{pipeline().Pipeline}\",\n\"ErrorMessage\":\"@{activity('Execute Pipeline1').Error.Message}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-06-06T10:31:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}